<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error_404_资源不存在</title>
    <link rel="icon" href="/static/blog/img/register_dir/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/blog/css/page404.css" />
</head>

<body id="id_body">
<div class="whole">
    <img src="/static/blog/img/page404_dir/back.jpg" alt="back.jpg" />
    <div class="mask"></div>
</div>
<div class="b">
    <img src="/static/blog/img/page404_dir/404.png" class="center" alt="404.png" />
    <p>
        暂时未能找到您查找的页面<br>
        可能输入的网址错误或此页面不存在<br>
        <span id="num"></span>秒后自动跳转到主页
    </p>
</div>

<script type="text/javascript" src="/static/blog/js/page404.js"></script>
</body>
</html>
